<div class="form-froup row">
    <label class="col-sm-2 col-form-label">EmployeeName</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeName" placeholder="Enter EmployeeName">
    </div>

    <label class="col-sm-2 col-form-label">EmployeeDateOfBirth</label>
    <div class="col-sm-10">
        <input type="date"  [(ngModel)]="EmployeeDateOfBirth">
    </div>

    <label class="col-sm-2 col-form-label">EmployeeFirstWorkDay</label>
    <div class="col-sm-10">
        <input type="date"  [(ngModel)]="EmployeeFirstWorkDay">
    </div>

    <label class="col-sm-2 col-form-label">EmployeeSalary</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeSalary" placeholder="Enter EmployeeSalary">
    </div>

</div>

<button (click)="addEmployee()" *ngIf="emp.EmployeeID==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateEmployee()" *ngIf="emp.EmployeeID!=0" class="btn btn-primary">
    Update
</button>